<!-- <div class="sidebar-header"></div> -->
<div class="sidebar-header">
    <div class="logo clearfix">
        <a class="logo-text float-left">
            <span class="text align-left">GRA</span>
        </a>
        <a id="sidebarToggle" href="javascript:;" class="nav-toggle d-none d-sm-none d-md-none d-lg-block">
            <i data-toggle="expanded" class="ft-disc toggle-icon"></i>
        </a>
        <a id="sidebarClose" href="javascript:;" class="nav-close d-block d-md-block d-lg-none d-xl-none">
            <i class="ft-circle">
            </i>
        </a>
    </div>
</div>
