<div class="animate FadeIn">
  <div class="row">
    <div class="col-6 col-lg-6">
        <div class="card">
            <div class="card-header">Logistics Stock</div>
            <div class="card-body">
              <p><input type="text" class="form-control" placeholder="Search Item" ></p>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th width="2%"></th>
                    <th width="78%">Item</th>
                    <th width="20%">Balance</th>
                  </tr>
                </thead>
                <tbody *ngIf="stockList.length > 0">
                  <tr *ngFor="let d of stockList">
                    <td>
                        <div class="btn-group" dropdown>
                            <span class="caret" dropdownToggle class="dropdown-toggle"></span>
                                <ul *dropdownMenu class="dropdown-menu" role="menu">
                                    <li role="menuitem"><a class="dropdown-item" (click)="allocate (d.id, templateAllocate)" >Allocate</a></li>
                                  <li role="menuitem"><a class="dropdown-item" (click)="viewHistory(d, templateServiceHistory)" >History</a></li>
                                  <li role="menuitem"><a class="dropdown-item" (click)="returnLogistics(d, templateReturn)">Return</a></li>
                                </ul>
                              </div>
                    </td>
                    <td>{{d.item}}</td>
                    <td>{{d.balance}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
    </div>
    <div class="col-6 col-lg-6">
      <tabset>
        <tab heading="Requests">
          <p><button class="btn btn-primary" (click)="requisition(templateRequest)">Requisition</button></p>
          <table class="table table-striped">
            <thead>
              <tr>
                <th width="20%">Date</th>
                <th width="60%">Item</th>
                <th width="20%">Qty</th>
                <!-- <th></th> -->
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>

                </tr>
            </tbody>
          </table>
        </tab>
        <tab heading="Receipts">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th width="20%">Date</th>
                    <th width="60%">Item</th>
                    <th width="20%">Qty</th>
                    <!-- <th></th> -->
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>

                    </tr>
                </tbody>
              </table>
        </tab>
      </tabset>
      <!-- <div class="card">
        <div class="card-header">Logistics Receipt</div>
        <div class="card-body">

        </div>
      </div> -->
      </div>
  </div>

  </div>

<!-- Template -->

<ng-template #templateServiceHistory>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Logistics History</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Type</th>
              <th>Credit</th>
              <th>Debit</th>
            </tr>
          </thead>
          <tbody *ngIf="historyList.length > 0">
            <tr *ngFor="let d of historyList">
              <td>{{d.date}}</td>
              <td>{{d.type}}</td>
              <td>{{d.credit}}</td>
              <td>{{d.debit}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </ng-template>


  <ng-template #templateReturn>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Logistics Return</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
        </div>
  </ng-template>


  <ng-template #templateAllocate>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Item Allocation</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
        </div>
  </ng-template>



  <ng-template #templateRequest>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Item Requisition</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Project</label>
            <select class="form-control">
              <option></option>
            </select>
          </div>
          <div class="form-group">
            <label>Item</label>
            <select class="form-control" *ngIf="itemList.length > 0">
              <option *ngFor="let d of itemList" [value]="d.id">{{d.item}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Quantity</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary">Request</button>
        </div>
  </ng-template>

