<div class="animate FadeIn">
<div class="row">
    <div class="col-3 col-lg-3">
        <div class="card">
          <div class="card-body p-3 clearfix">
            <i class="fa fa-cogs bg-primary p-3 font-2xl mr-3 float-left"></i>
            <div class="h5 text-primary mb-0 mt-2">0</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Cateogries</div>
          </div>
        </div>
    </div>
    <div class="col-3 col-lg-3">
        <div class="card">
          <div class="card-body p-3 clearfix">
            <i class="fa fa-cogs bg-primary p-3 font-2xl mr-3 float-left"></i>
            <div class="h5 text-primary mb-0 mt-2">0</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Items</div>
          </div>
        </div>
    </div>
    <div class="col-3 col-lg-3">
        <div class="card">
          <div class="card-body p-3 clearfix">
            <i class="fa fa-cogs bg-primary p-3 font-2xl mr-3 float-left"></i>
            <div class="h5 text-primary mb-0 mt-2">0</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Requests</div>
          </div>
        </div>
    </div>
    <div class="col-3 col-lg-3">
        <div class="card">
          <div class="card-body p-3 clearfix">
            <i class="fa fa-cogs bg-primary p-3 font-2xl mr-3 float-left"></i>
            <div class="h5 text-primary mb-0 mt-2">0</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">My Prospects</div>
          </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-6 col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">Logistics</div>
      <div class="card-body">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </div>
  </div>
  <div class="col-6 col-md-6 col-lg-6">
    <!-- <div class="card">
      <div class="card-header"></div>
    </div> -->
    <tabset>
      <tab heading="Items">
        <p><button class="btn btn-primary" (click)="openItems(itemTemplate)">New Item</button></p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Category</th>
              <th>Item</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody *ngIf="itemsList.length > 0">
            <tr *ngFor="let d of itemsList">
              <td width="30%">{{d.type}}</td>
              <td width="30%">{{d.item}}</td>
              <td width="40%">{{d.description}}</td>
            </tr>
          </tbody>
        </table>
      </tab>
      <tab heading="Categories">
        <table class="table table-striped">
          <thead>
            <tr>
              <th width="40%">Category</th>
              <th width="60%">Description</th>
            </tr>
          </thead>
          <tbody *ngIf="categoryList.length > 0">
            <tr *ngFor="let d of categoryList">
              <td>{{d.category}}</td>
              <td>{{d.description}}</td>
            </tr>
          </tbody>
        </table>
      </tab>
    </tabset>
  </div>
</div>
</div>

<!-- Templates -->

  <!-- Items template -->
  <ng-template #itemTemplate>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Services</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="itemForm">
        <div class="modal-body">
            <div class="form-group">
                <label>Category</label>
                <select class="form-control" formControlName="type" *ngIf="categoryList.length > 0">
                  <option *ngFor="let d of categoryList">{{d.category}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Item</label>
                <input type="text" class="form-control" formControlName="item">
              </div>
              <div class="form-group">
                  <label>Description</label>
                  <textarea class="form-control" formControlName="description"></textarea>
                </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary block" [disabled]="itemForm.invalid"  (click)="saveItem()">Save</button>
          </div>
    </form>
    </ng-template>
   <!-- End of Department  -->
