<div class="main-panel">
  <div class="main-content">
    <div class="content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="content-header">Tracking Request</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg col-lg-12">
            <div class="card">
              <div class="card-header">
                <div class="card-title-wrap bar-success">
                  <button class="btn btn-primary block" (click)="openAddRequestModal(requestModal)">Add Request</button>
                </div>
              </div>
              <div class="card-body">
                <div class="px-3">
                  <table class="table table-outline table-hover">
                    <thead>
                    <tr>
                      <th width="2%"></th>
                      <th width="2%">No</th>
                      <th width="20%">Employee ID</th>
                      <th width="20%">Employee Name</th>
                      <th width="20%">Rank</th>
                      <th width="20%">Type</th>
                      <th width="20%">Per Diem</th>
                      <th width="20%">Amount</th>
                      <th width="20%">Total</th>
                      <th width="20%">Status</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="requestDataList.length > 0">
                    <tr *ngFor="let request of requestDataList">
                      <td>
                        <div class="btn-group" dropdown>
                          <span class="caret" dropdownToggle class="dropdown-toggle"></span>
                          <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" (click)="openViewRequestModal(request, viewRequest)">View and Approve</a> </li>
                          </ul>
                        </div>
                      </td>
                      <td>{{ request.id }}</td>
                      <td>{{ request.employeeid }}</td>
                      <td>{{ request.employeename }}</td>
                      <td>{{ request.rank }}</td>
                      <td>{{ request.type }}</td>
                      <td>{{ request.perdiem }}</td>
                      <td>{{ request.amount }}</td>
                      <td>{{ request.total }}</td>
                      <td>{{ request.status }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-static footer-light">
    <p class="clearfix text-muted text-center px-2"><span>Copyright &copy; 2019 <a class="text-bold-800 primary darken-2">GRA</a>, All rights reserved. </span></p>
  </footer>
</div>
<!-- <div class="animated fadeIn">
  <div class="row">
    <div class="col-lg col-lg-12">
      <div class="card">
        <div class="card-header">Requests</div>
        <div class="card-body">
          <p><button class="btn btn-primary block" (click)="openAddRequestModal(requestModal)">Add Entry</button></p>
          <table class="table table-striped">
            <thead>
              <tr>
                <th width="2%"></th>
                <th width="2%">No</th>
                <th width="20%">Employee ID</th>
                <th width="20%">Employee Name</th>
                <th width="20%">Rank</th>
                <th width="20%">Type</th>
                <th width="20%">Per Diem</th>
                <th width="20%">Amount</th>
                <th width="20%">Total</th>
                <th width="20%">Status</th>
              </tr>
            </thead>
            <tbody *ngIf="requestDataList.length > 0">
              <tr *ngFor="let request of requestDataList">
                <td>
                  Start of table caret 
                  <div class="btn-group" dropdown>
                    <span class="caret" dropdownToggle class="dropdown-toggle"></span>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li role="menuitem"><a class="dropdown-item"
                          (click)="openViewRequestModal(request, viewRequest)">View and Approve</a> </li>
                    </ul>
                  </div>
                </td>
                End of table caret 
                <td>{{ request.id }}</td>
                <td>{{ request.employeeid }}</td>
                <td>{{ request.employeename }}</td>
                <td>{{ request.rank }}</td>
                <td>{{ request.type }}</td>
                <td>{{ request.perdiem }}</td>
                <td>{{ request.amount }}</td>
                <td>{{ request.total }}</td>
                <td>{{ request.status }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> 

-->
<!-- Old Officer Dashboard -->

<!--Modal Templates-->
<!--Request Modal -->
<ng-template #requestModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Request</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="px-3">
    <form [formGroup]="addRequestFormModal">
      <div class="modal-body">
        <!--Employee ID      -->
        <label>Employee ID</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Employee ID" formControlName="employeeid" #employeeid>
          <div class="input-group-append">
            <button class="btn btn-outline-primary" (click)="loadEmployeeID()" type="button">Search</button>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Employee Name</label>
              <input type="text" formControlName="employeename" class="form-control" #employeename readonly="">
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label>Rank</label>
              <input type="text" formControlName="rank" class="form-control" #rank readonly="">
            </div>
          </div>
        </div>

        <!--Request Type-->
        <div class="form-group">
          <label>Type</label> <!-- Should be a drop down -->
          <select class="form-control" #type formControlName="type">
            <option value="">Select an Option</option>
            <option value="Medical">Medical Check Up</option>
            <option value="Training">Training</option>
          </select>
        </div>

        <!--  Section for Visa checks-->
        <div class="row">
          <div class="col">
            <div class="form-group" *ngIf="this.addRequestFormModal.get('type').value === 'Training'"> <!--This is where we use the ngIf to get the other required fields -->
              <label>Visa</label>
              <select class="form-control" #visa formControlName="visa">
                <option value="">Select an Option</option>
                <option value="Travel">Travel Agent</option>
                <option value="Internal">Internal</option>
              </select>
            </div>
          </div>
        </div>
        <!--End of Section for Visa Checks      -->

        <!--Section for Travel Agents and Costs      -->
        <div class="row">
          <div class="col">
            <div class="form-group" *ngIf="this.addRequestFormModal.get('visa').value === 'Travel'">
              <label>Travel Agent</label>
              <select class="form-control" #travelagent (change)="loadTravelAgentFees()" formControlName="travelagent" *ngIf="travelAgentList.length > 0">
                <option *ngFor="let t of travelAgentList" value="{{t.id}}">{{t.name}}</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group" *ngIf="this.addRequestFormModal.get('visa').value === 'Travel'">
              <label>Visa Charge</label>
              <input type="text" formControlName="visafees" class="form-control" readonly>
            </div>
          </div>
        </div>
        <!--End of Section for Travel Agents and Costs      -->

        <!--Section for Course Provider(Training) and Costs      -->
        <div class="row">
          <div class="col">
            <div class="form-group" *ngIf="this.addRequestFormModal.get('type').value === 'Training'">
              <label>Course Providers</label>
              <select class="form-control" #courseProvider (change)="loadCourseProviderFees()" formControlName="courseprovider" *ngIf="courseProviderList.length > 0">
                <option *ngFor="let c of courseProviderList" value="{{c.id}}">{{c.name}}</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group" *ngIf="this.addRequestFormModal.get('type').value === 'Training'">
              <label>Course Cost</label>
              <input type="text" formControlName="coursecharge" class="form-control" readonly>
            </div>
          </div>
        </div>
        <!--End of Section for Course Provider and Costs      -->

        <!--Section for Medical Provider and Costs      -->
        <div class="row">
          <div class="col">
            <div class="form-group" *ngIf="this.addRequestFormModal.get('type').value === 'Medical'">
              <label>Medical Providers</label>
              <select class="form-control" #medical formControlName="medicalfacility" *ngIf="medicalFacilityList.length > 0">
                <option *ngFor="let t of medicalFacilityList" value="{{t.name}}">{{t.name}}</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group" *ngIf="this.addRequestFormModal.get('type').value === 'Medical'">
              <label>Invoice</label>
              <input type="text" formControlName="invoice" class="form-control">
            </div>
          </div>
        </div>
        <!--End of Section for Medical Provider and Costs      -->

        <!--Section for Dates-->
        <div class="row">
          <div class="col">
            <label>Start Date</label>
            <input type="date" formControlName="datefrom" class="form-control">
          </div>
          <div class="col">
            <label>End Date</label>
            <input type="date" formControlName="dateto" class="form-control">
          </div>
        </div>
        <!--End of Section for Dates-->

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Amount</label>
              <input type="number" formControlName="amount" class="form-control">
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label>Currency</label>
              <select class="form-control" #currency (change)="compute()" formControlName="currency" *ngIf="currencyList.length > 0">
                <option *ngFor="let c of currencyList" value="{{ c.id }}">{{ c.currency }}</option>
              </select>
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label>Rates</label>
              <input type="text" formControlName="exchangerate" class="form-control" readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Per Diem</label>
              <input type="text" formControlName="perdiem" class="form-control" readonly>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Total</label>
              <input type="text" formControlName="total" class="form-control" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-primary" (click)="approveRequest()">Approve</button>
        <button class="btn btn-outline-danger" (click)="rejectRequest()">Reject</button>
        <button class="btn btn-outline-warning" (click)="StartAfresh()">Reset</button>
      </div>
    </form>
  </div>
</ng-template>
<!-- Old Request Modal -->


<!--View Completed Request -->
<ng-template #viewRequest>
  <div class="modal-header">
    <h4 class="modal-title pull-left">View Request</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="RequestFormModal">
    <div class="modal-body">

      <div class="row">

        <div class="col">
          <div class="form-group">
            <label>Employee ID</label>
            <input type="text" formControlName="employeeid" class="form-control" #employeeid readonly>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Employee Name</label>
            <input type="text" formControlName="employeename" class="form-control" #employeename readonly>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Rank</label>
            <input type="text" formControlName="rank" class="form-control" #rank readonly>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label>Type</label>
            <input type="text" formControlName="type" class="form-control" #type readonly>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Travel Agent</label>
            <input type="text" formControlName="travelagent" class="form-control" #travelagent readonly>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label>Travel Agent Fees</label>
            <input type="text" formControlName="visafees" class="form-control" #visafees readonly>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Course Provider</label>
            <input type="text" formControlName="courseprovider" class="form-control" #courseprovider readonly>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label>Charge</label>
            <input type="text" formControlName="chargecourse" class="form-control" #chargecourse readonly>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Currency</label>
            <input type="text" formControlName="currency" class="form-control" #currency readonly>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label>Exchange Rate</label>
            <input type="text" formControlName="exchangerate" class="form-control" #exchangerate readonly>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Status</label>
            <input type="text" formControlName="status" #status class="form-control" readonly>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>


<!--<tabset>
  <tab heading="Overview">
    <div class="row">
      <div class="col-6 col-lg-3">
        <div class="card">
          <div class="card-body p-3 clearfix">
            <i class="fa fa-cogs bg-primary p-3 font-2xl mr-3 float-left"></i>
            <div class="h5 text-primary mb-0 mt-2">$1.999,50</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="card">
          <div class="card-body p-3 clearfix">
            <i class="fa fa-cogs bg-primary p-3 font-2xl mr-3 float-left"></i>
            <div class="h5 text-primary mb-0 mt-2">$1.999,50</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="card">
          <div class="card-body p-3 clearfix">
            <i class="fa fa-cogs bg-primary p-3 font-2xl mr-3 float-left"></i>
            <div class="h5 text-primary mb-0 mt-2">$1.999,50</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="card">
          <div class="card-body p-3 clearfix">
            <i class="fa fa-cogs bg-primary p-3 font-2xl mr-3 float-left"></i>
            <div class="h5 text-primary mb-0 mt-2">$1.999,50</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Monthly
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
              <tr>
                <th></th>
                <th>Name</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let t of serviceList">
                <td>{{t.id}}</td>
                <td>{{t.name | uppercase}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </tab>

</tabset> -->


<!-- 
  <div class="col-xl-4 col-lg-12 col-12">
    <div class="card" style="">
      <div class="card-header">
        <div class="card-title-wrap bar-danger">
          <h4 class="card-title">Today's Activity</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="col-12 timeline-left" id="activity">
          <div class="timeline">
            <ul class="list-unstyled base-timeline activity-timeline">
              <li class="">
                <div class="timeline-icon bg-danger">
                  <i class="fa fa-tasks"></i>
                </div>
                <div class="act-time">Today</div>
                <div class="base-timeline-info">
                  <a href="#" class="text-uppercase text-danger">Task Added</a>
                </div>
                <small class="text-muted">
                                    25 mins ago
                                </small>
              </li>
              <li class="">
                <div class="timeline-icon bg-primary">
                  <i class="fa fa-handshake-o"></i>
                </div>
                <div class="act-time">Yesterday</div>
                <div class="base-timeline-info">
                  <a href="#" class="text-uppercase text-primary">Deal Added</a>
                </div>
                <small class="text-muted">
                                    23 hours ago
                                </small>
              </li>
              <li class="">
                <div class="timeline-icon bg-dark">
                  <i class="fa fa-tasks"></i>
                </div>
                <div class="act-time">09 March</div>
                <div class="base-timeline-info">
                  <a href="#" class="text-uppercase text-dark">Task Updated</a>
                </div>
                <small class="text-muted">
                                    15 days ago
                                </small>
              </li>
              <li class="">
                <div class="timeline-icon bg-warning">
                  <i class="fa fa-handshake-o"></i>
                </div>
                <div class="act-time">04 March</div>
                <div class="base-timeline-info">
                  <a href="#" class="text-uppercase text-warning">Started Task</a>
                </div>
                <small class="text-muted">
                                    20 days ago
                                </small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
 -->
